body{
    ul li {
        float:left;
        border-right:1px solid

    }
    ui{
        
    } 
    
    ul li a {
        padding: 10px 10px;
        background-color:grey;


    }
    background-color:rgb(152, 239, 174);
    font_family: 'ny',ny,serif;
    margin: 0%;
    padding: 20px;

}